.profile-page {
    background: #141414;
    bottom: 0;
    left: 0;
    position: fixed;
    right: 0;
    text-align: center;
    top: 0;
    z-index: 0;
}

.profile-centered-container {
    align-items: center;
    bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 100;
}

.profile-container {
    max-width: 80%;
}

.profile-container h1 {
    color: #fff;
    font-size: 3.5vw;
    font-weight: unset;
    width: 100%;
}

.profile-container ul {
    margin: 2em 0;
}