/* .modal-top-container {
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    overflow: hidden;
    position: relative;
    cursor: pointer;
    z-index: 10;
}

.blue-square {
    width: 100px;
    height: 100px;
    background-color: lightblue;
}

.model-top-picture-wrapper {
    position: absolute;
    height: 100%;
    padding-top: 56.3925%;
    width: 100%;
    z-index: 10;
}

.model-top-picture {
    background-size: cover;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 10;
    background-color: white;
} */
