/* TODO Add site wide styles */
/* @font-face {
    font-family: 'NetflixRegular';
    src: local('NetflixRegular'), url(./fonts/NetflixSans_W_Rg.woff2) format('woff2');
} */

body, html {
    /* font-family: 'NetflixRegular'; */
    letter-spacing: 0;
}