.splash-header-wrapper {
    height: 5rem;
    padding-top: 20px;
    position: relative; 
    width: 100%;
    z-index: 10;
}

.splash-header {
    align-items: flex-start;
    display: flex;
    flex-flow: row nowrap;
    height: auto;
    justify-content: flex-start;
    padding-top: 0.5rem;
    margin: 0 3.5rem;
    position: relative;
}

.myflix-logo {
    height: 2.25rem;
    width: 8.375rem;
    margin-right: auto;
}

.splash-login-button {
    margin-top: 0;
    background-color: #e50914;
    font-size: 1rem;
    font-weight: 400;
    line-height: normal;
    padding: 7px 17px;
    border-radius: 3px;
    color: #fff;
    text-decoration: none;
}

.splash-card-container {
    box-sizing: border-box;
    height: 530px;
}

.splash-card-background {
    top: -100px;
    bottom: 0;
    left: 0;
    overflow: hidden;
    position: absolute;
    right: 0;
    z-index: 0;
}

.splash-background-image-wrapper {
    height: 730px;
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    /* border-bottom: 8px solid #222; */
}

.splash-background-image {
    transform: none;
    height: 100%;
    width: 100%;
    object-fit: cover;
    border: 0;
    max-width: 100%;
}

.splash-background-gradient {
    background: rgba(0,0,0,.4);
    background-image: linear-gradient(0deg,rgba(0,0,0,.8) 0,transparent 60%,rgba(0,0,0,.8));
    /* background: rgba(0,0,0,.4); */
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
}

.splash-background-gradient::before {
    background-image: linear-gradient(180deg,#000 25%,transparent);
    content: "";
    height: 70px;
    position: absolute;
    width: 100%;
}

.splash-form-wrapper {
    margin: 0 auto;
    max-width: 950px;
    padding: 30px 0;
    position: relative;
    text-align: center;
    width: 100%;
    z-index: 1;
    color: white;
}

.splash-form-wrapper h1 {
    margin: 0 auto;
    max-width: 640px;
    font-size: 3.125rem;
}

.splash-form-wrapper h2 {
    font-size: 1.625rem;
    margin: 1rem auto;
    max-width: 640px;
    margin-bottom: 40px;
}

.email-form {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: 0em;
}

.email-form h3 {
    font-size: 1.2rem;
    max-width: none;
    font-weight: 400;
    margin: 0 auto;
    padding: 0 5%;
    padding-bottom: 20px;
}

.splash-email-wrapper {
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    text-align: center;
    letter-spacing: 0;
}

.splash-email-input {
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
    height: 70px;
    min-width: 500px;
    padding: 10px 10px 0;
    width: 100%;
    appearance: none;
    border: 1px solid #8c8c8c;
    border-radius: 2px;
    box-sizing: border-box;
    color: #000;
    display: block;
    font-size: 16px;
    margin: 0;
}

.splash-email-input:focus {
    outline: none;
}

.splash-signup-button {
    display: inline-block;
    flex: 1 0 auto;
    vertical-align: top;
    min-height: 60px;
    min-width: 74px;
    width: auto;
    padding: 0 25px;
    box-sizing: border-box;
    border: 0;
    border-radius: 2px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    background-color: #e50914;
    background-image: linear-gradient(180deg,#e50914,#db0510);
    box-shadow: 0 1px 0 rgb(0 0 0 / 45%);
    color: #fff;

    align-items: center;
    display: inline-flex;
    flex-direction: row;
}

.splash-signup-text {
    padding: 0.5rem 0;
    flex: 1 1 auto;
    text-align: center;
    font-size: 1.625rem;
}

.chevron-wrapper {
    flex: 0 1 auto;
    height: 15px;
    margin: 0 0 0 0.5em;
    position: relative;
    width: 0.35em;
}

.chevron {
    height: 100%;
    left: 0;
    margin: 1px 0;
    position: absolute;
    top: 0;
    transform: scaleX(1);
}

.chevron path {
    fill: #fff;
}

.splash-input-errors {
    position: absolute;
    color: #ffa00a;
    font-size: 15px;
    bottom: 0;
    margin-left: 125px;
    padding: 6px 3px;
    text-align: left;
}

.story-card {
    box-sizing: border-box;
    width: 100%;
    padding: 70px 45px;
    background: black;
    height: 100px;
}

.disclaimer {
    color: white;
    font-size: 10px;
    text-align: center;
    vertical-align: middle;
}