.edit-profile-page {
    background-color: #141414;
    height: 100vh;
}

.edit-container {
    padding-top: 70px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.edit-content-wrapper {
    text-align: left;
}

.edit-profile-header {
    font-size: 4vw;
    color: white;
}

.edit-picture-column {
    margin-right: 1.5vw;
    max-width: 180px;
    min-width: 80px;
    white-space: nowrap;
    width: 8vw;
    position: relative;
}

.edit-picture {
    height: 8vw;
    max-height: 180px;
    max-width: 180px;
    min-height: 80px;
    min-width: 80px;
    width: 8vw;
    border-radius: 4px;
}

.picture-edit-button {
    background-color: transparent;
    border: none;
    bottom: 7%;
    cursor: pointer;
    left: 7%;
    position: absolute;
}

.change-svg {
    background-color: rgba(0,0,0,.7);
    border-radius: 5rem;
    filter: drop-shadow(1px 1px 2px #000);
    height: 2rem;
    max-height: 45px;
    max-width: 45px;
    width: 2rem;
    border: 1px solid transparent;
    margin: 0 -1px;
    overflow: visible;
    transform: scale(1);
}

.change-svg path {
    fill: white;
}

.edit-profile-form {
    /* max-width: 500px; */
    border-top: 1px solid #333;
    border-bottom: 1px solid #333;
    padding: 10px;
    display: flex;
    padding: 2em 0;
}

.edit-name-container {
    max-width: 500px;
    width: 50vw;
    position: relative;
}

.edit-name-input {
    width: 100%;
    background: #666;
    border: 1px solid transparent;
    box-sizing: border-box;
    color: #fff;
    font-size: 1.3vw;
    height: 2em;
    margin: 0 0.8em 0 0;
    padding: 0.2em 0.6em;
    text-indent: 0.1vw;
}

.save-button {
    display: inline-block;
    background: #fff;
    border: 1px solid #fff;
    color: #000;
    font-weight: 500;
    margin: 2em 0 1em;
    margin-right: 20px;
    padding: 0.5em 1.5em;
    font-size: 1.2vw;
}

.save-button:hover {
    background: #c00;
    border: 1px solid #c00;
    color: white;
}

.not-save-button {
    display: inline-block;
    background-color: transparent;
    border: 1px solid grey;
    color: grey;
    cursor: pointer;
    font-size: 1.2vw;
    margin: 2em 0 1em;
    margin-right: 20px;
    padding: 0.5em 1.5em;
}

.not-save-button:hover {
    border-color: white;
    color: white;
}

.change-picture-container {
    background: #141414;
    bottom: 0;
    left: 0;
    position: fixed;
    right: 0;
    text-align: center;
    top: 0;
    z-index: 0;
}

.picture-header {
    max-width: 1370px;
}

.back-wrapper {
    align-items: center;
    display: flex;
    position: relative;
    width: 50px;
}

.back-arrow {
    /* bottom: 0;
    color: #fff;
    display: flex;
    justify-content: center;
    position: relative;
    text-align: center;
    top: 0;
    width: 4%;
    z-index: 20;
    background: hsla(0,0%,8%,.5);
    
    font-size: 2.5vw;
    height: auto;
    left: 0; */
}

.back-arrow g {
    fill: black;
    height: 100%;
    margin-left: 10px;
}