.edit-profile-page {
    background-color: #141414;
    height: 100vh;
}

.edit-container {
    padding-top: 70px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.edit-content-wrapper {
    text-align: left;
}

.edit-profile-header {
    font-size: 4vw;
    color: white;
}

.edit-picture-column {
    margin-right: 1.5vw;
    max-width: 180px;
    min-width: 80px;
    white-space: nowrap;
    width: 8vw;
}

.edit-picture {
    height: 8vw;
    max-height: 180px;
    max-width: 180px;
    min-height: 80px;
    min-width: 80px;
    width: 8vw;
    border-radius: 4px;
}

.edit-profile-form {
    /* max-width: 500px; */
    border-top: 1px solid #333;
    border-bottom: 1px solid #333;
    padding: 10px;
    display: flex;
    padding: 2em 0;
}

.edit-name-container {
    max-width: 500px;
    width: 50vw;
    position: relative;
}

.edit-name-input {
    width: 100%;
    background: #666;
    border: 1px solid transparent;
    box-sizing: border-box;
    color: #fff;
    font-size: 1.3vw;
    height: 2em;
    margin: 0 0.8em 0 0;
    padding: 0.2em 0.6em;
    text-indent: 0.1vw;
}

.save-button {
    display: inline-block;
    background: #fff;
    border: 1px solid #fff;
    color: #000;
    font-weight: 500;
    margin: 2em 0 1em;
    margin-right: 20px;
    padding: 0.5em 1.5em;
    font-size: 1.2vw;
}

.save-button:hover {
    background: #c00;
    border: 1px solid #c00;
    color: white;
}

.not-save-button {
    display: inline-block;
    background-color: transparent;
    border: 1px solid grey;
    color: grey;
    cursor: pointer;
    font-size: 1.2vw;
    margin: 2em 0 1em;
    margin-right: 20px;
    padding: 0.5em 1.5em;
}

.not-save-button:hover {
    border-color: white;
    color: white;
}