.featured-banner-container {
    display: block;
    position: relative;
    padding-bottom: 40%;
}

.featured-banner {
    height: 56.25vw;
    position: absolute;
    z-index: 0;
    width: 100%;
    top: 0;
    left: 0;
}

.featured-banner-picture {
    width: 100%;
}